html,body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-color: #f0f3f4;
   /* overflow: hidden;*/
}
a {
    color:white;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #e8e8e8;
    text-decoration: none;
}

nav.head {
    position: fixed;
    top:0;
    left:0;
    background-color: #324157;
    width: 100%;
    padding: 0 5%;
    height: 70px;
    line-height: 70px;
    z-index: 10000;
}
nav .title {
    color:white;
    font-size: 1.2rem;
    font-weight: 700;
}
nav .link {
    margin-left: 60%;
    display: inline-block;
}

.link a{
    display: inline-block;
    padding:10px 10px;
    font-size: 1rem;
}
.link span {
    margin-right: 10px;
}

main {
    margin-top:70px;
    width: 100%;
   /* height: calc(100% - 70px);*/
}

nav.left {
    position: fixed;
    background-color:#324157;
    width: 18%;
    min-height: 100%;
}
.main-content {
    margin-left: 18%;
    width: 82%;
    height: 100%;
    background-color: #f0f3f4;
}

.left .nav-link {
    display: block;
    width: 100%;
    padding: 10px 0 20px 20%;
}

.left .nav-link:hover {
    background-color: #48576a;
}

.nav-link span {
    margin-right: 10px;
}

ul.el-menu {
    display: none;
    list-style: none;
    background-color: #1f2d3d;
}

.el-menu li {
    width: 100%;
    height: auto;
    font-size: .8rem;
}

/*.el-menu li a {
    display: block;
    width: 100%;
    padding: 10px 20%;
}

.el-menu li a:hover {
    display: block;
    width: 100%;
    padding: 10px 20%;
    background-color: #48576a;
}*/
/*

.collapse-link {
    background-color: #1f2d3d;
    width: 100%;
    padding: 10px 0 20px 20%;
}*/
