* {
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    width: 100%;
    font-size: 16px;
    background-color: #ffffff;
    font-family: 'Microsoft YaHei',sans-serif;
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: rgba(0,0,0,.12);
    text-decoration: none;
}
nav.head{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color:#ffffff;
    z-index: 999;
}
.head .content {
    width: 80%;
    margin: auto;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}


.nav-link {
    height: 100%;
    display: inline-block;
    padding:10px 20px;
    font-size: 16px;
}


.nav-link span {
    margin-right: 10px;
}
.head .content .right{
    float:right;
}
main {
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    position: relative;
}
#canvas1 {
    position: absolute;
    top:0;
    left:0;
}
#canvas2 {
    position: absolute;
    top:0;
    left:0;
    z-index:5;
}
@media screen and (max-width: 480px){
    .nav-link {
        padding:10px 0;
    }
    .head .content .right{
        display: none;
    }
    main {
        width: 90%;
        margin-left:5%;
    }
    aside {
        display: none;
    }
    #canvas1,#canvas2 {
        display: none;
    }
}
aside {
    position: fixed;
    top:50px;
    left:0;
    width: 10%;
    padding: 0 10px;
    box-sizing: border-box;
}

/*.aside-item {*/
    /*margin-top: 2rem;*/
    /*padding-bottom: .5rem;*/
    /*border-bottom: 2px solid #407ab9;*/
/*}*/
#tp-weather-widget {
    font-size: 1rem;
    cursor: pointer;
}
#tp-weather-widget:hover {
    font-size: 1.2rem;
}

#canvas {
    background: white;
    display: block;  /*canvas 有自己的垂直居中样式，需要取消掉 不能在css中设置宽高，否则在js中绘制的图形会被等比缩放，可以直接在canvas标签中直接设置width和height*/
    /*width:500px;*/
    /*height: 500px;*/  .
}
#picture {
    position: absolute;
    display: block;
}
#text {
    position: absolute;
    top:40%;
    left:0;
    width: 100%;
    display: none;
    /*transform:translateX(-250px);*/
    /*width: 500px;*/
    color: rgba(0,0,0,0);
    text-shadow: 5px 5px 5px rgba(0,0,0,0);
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    animation:text 5s infinite;
    -moz-animation:text 8s ease-in 1s infinite; /* Firefox */
    -webkit-animation:text 8s linear 1s infinite; /* Safari and Chrome */
    -o-animation:text 8s ease-in 1s infinite; /* Opera */
}
@keyframes text {
    0%{
        font-size: 2rem;
        color: rgba(0,0,0,0);
        text-shadow: 5px 5px 5px rgba(0,0,0,0);
    }
    50% {                                    /*实现每一次动画之间的停留时间*/
        color: rgba(0,0,0,0);
        text-shadow: 5px 5px 5px rgba(0,0,0,0);
    }
    75% {
        font-size: 3rem;
        color: rgba(0,0,0,0.5);
        text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }
    100% {
        font-size: 4rem;
        color: rgba(0,0,0,0);
        text-shadow: 5px 5px 5px rgba(0,0,0,0);
    }
}