doctype
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
        title=title
        link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
        link(href="/dist/css/layout-460a192b45.css",rel="stylesheet")
        link(href="/dist/css/demo_list-7d5a11405a.css",rel="stylesheet")
        script(src="/libs/jquery/dist/jquery.min.js")
        script(src="/libs/bootstrap/dist/js/bootstrap.min.js")

    body
        nav.head
            .content
                a.nav-link(href="/")
                    span.glyphicon.glyphicon-home(aria-hidden="true")
                    span 首页
                if(headNav === "blog")
                    a.nav-link.active-link(href="/article/all")
                        span.glyphicon.glyphicon-list(aria-hidden="true")
                        span 博文
                else
                    a.nav-link(href="/article/all")
                        span.glyphicon.glyphicon-list(aria-hidden="true")
                        span 博文
                if(headNav === "demo")
                    a.nav-link.active-link(href="/demo/all")
                        span.glyphicon.glyphicon-list(aria-hidden="true")
                        span demo
                else
                    a.nav-link(href="/demo/all")
                        span.glyphicon.glyphicon-star(aria-hidden="true")
                        span demo
                //a.nav-link()
                //    span.glyphicon.glyphicon-user(aria-hidden="true")
                //    span 关于
                a.nav-link.right(href="/admin")
                    span.glyphicon.glyphicon-modal-window(aria-hidden="true")
                    span 管理
        //aside.text-center
        //    #tp-weather-widget
        main
            .demo-list-contain
                .row
                    .col-md-4.col-xs-12
                        .demo-box-wrapper
                            .demo-box
                                a(href="/demo/detail/?id=1")
                                    img(src="/dist/imgs/demo/1-b32b8e5d03.png")
                                    .des-box
                                        .title 旋转木马轮播图
                                        .text 采用JQuery实现旋转木马轮播图。
                    .col-md-4.col-xs-12
                        .demo-box-wrapper
                            .demo-box
                                a(href="http://www.litingyang.com:9000")
                                    img(src="/dist/imgs/demo/sell_app-8bd39db3e1.png")
                                    .des-box
                                        .title 外卖 WEB APP
                                        .text 采用Vue实现移动端的外卖web app部分界面，切换到移动界面查看效果更佳（PS:切换之后记得刷新一下）。
        //script(src="/dist/js/demo_list-c21cbc733f.js")



