link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/dist/css/layout-460a192b45.css",rel="stylesheet")
link(href="/dist/css/article_list-cfee87b15d.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")




