link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/dist/css/layout-e749a1f023.css", rel="stylesheet")
link(href="/dist/css/article_list-3105ef7509.css", rel="stylesheet")
link(type="favicon" rel="shortcut icon" href="/dist/imgs/favicon-05c180dc28.ico")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")




