html, body {
    width: 100%;
    height: 100%;
    background: rgb(0, 160,220);
    overflow: hidden;
}
.index {
    animation: ;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.index  .content {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 500px;
    height: 500px;
    text-align: center;
    transform: translate3d(-50%,0,0);
}

.content .avatar {
    margin: auto;
    width: 160px;
    height: 160px;
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19)
}
.content .name {
    padding: 30px 0;
    font-size: 32px;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 1px 2px #2caaba, 2px 3px rgba(0, 0,0, 0.3);
}
.content .poem {
    font-size: 16px;
    /*color: #bcf1f8;*/
    color: #eeee;
}
.content .desc {
    margin-top: 15px;
    font-size: 24px;
    color: #fefefe
}

.content .enter .enter-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    height: 16px;
    line-height: 16px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    background: rgba(75, 158, 208, 1);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    color: #eee;
}