* {
    padding: 0;
    margin: 0;
}
html,body {
    width: 100%;
    height: 100%;
}

.poster-main {
    position: relative;
    top: 20%;
    margin: auto;
}

.poster-list .poster-item {
    position: absolute;
    list-style: none;
}
.poster-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.poster-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.poster-btn {
    position: absolute;
    top:0;
    cursor: pointer;
    opacity: 0.8;

}
.poster-pre-btn {
    left: 0;
    background: url("/imgs/demo1/btn_l.png") no-repeat center center;
}
.poster-next-btn {
    right:0;
    background: url("/imgs/demo1/btn_r.png") no-repeat center center;
}
