link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/layout.css", rel="stylesheet")
link(href="/css/article_list.css", rel="stylesheet")
link(type="favicon" rel="shortcut icon" href="/imgs/favicon.ico")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")




