extends ./layout
block content
    //h3 鲤.池
    canvas#canvas1
    canvas#canvas2
    canvas#picture
    p#text 陪你走过漫长的雨季
    script(type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8")
    script(type="text/javascript" src="/js/weather.js")
    script(type="module" src="/js/index.js")