doctype
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
        title=title
        link(rel="stylesheet", href="/css/index.css")
    body
        div.index
            div.content
             div.avatar
                 img(src="imgs/avatar.png")
             div.name HI, 我是鲤
             div.poem 白日不到处，青春恰自来
             div.desc 前端工程师
             div.enter
                 a(href="/article/all").enter-btn 更多详情
        script(src="/libs/jquery/dist/jquery.min.js")
